header{
	background-color: #C0C0C0;
	background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
	background-size: cover;
	padding: 3% 4% 3% 4%
}
body{
	margin: 1%;
	padding: 1%;
}
h1{
	color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}
nav a{
	text-decoration: none;
	margin: 0 3% 2% 3%;
	padding: 1.5%;
	margin: 8%;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.3);
	color: black;
	font-weight: bold;
}
.active,a:hover{
	color: #0000ff;
	background: #ffffff;
}
.left{
	display: inline-block;
	width: 18%;
	float: left;
	height: 100vh;
	background-color: #747d20;
    overflow: auto;
}
.right{
	display: inline-block;
	float: left;
	width: 75%;
	height: 100vh;
}
table{
	padding: 2%;
	margin: 0 auto;
	line-height: 50px;
	width: 60%;
	padding-bottom: 5%;
}
th{
	background-color: #9ACD32;
	padding: 2%;
	font-variant: small-caps;
	color: #ffffff;
	line-height: 20px;
	border-radius: 10px 10px 0 0;
	border-bottom: 2px solid #339933;
}
th,tr,td{
	text-align: center;
}
th:first-child,tr td:first-child{
	text-align: left;
}
tr td{
	opacity: 0.6;
}
tr:hover{
	background: #339933;
	opacity: 1;
}
td{
	background: #90EE90;
	padding-left: 2%:
	padding-right: 2%; 
	border-bottom: 2px solid #ffffff;
}
img{
	display: block;
	border: solid 2px #000000;
    margin: 0 auto;
	width: 70%;
	margin-top: 13%;
	margin-bottom: 13%;
	overflow: auto;
}

main{
	background-color: white;
}
h2{
	color: black;
	text-transform: uppercase;
}
a{
	color: black;
	text-align: center;
}
p{
	font-family: sans-serif;
}
